<?xml version='1.0' encoding='utf-8'?>
<widget id="com.collegeloopin" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>College LoopIn</name>
    <description>
        College LoopIn is a college notice board app
    </description>
    <author email="collegeloopin@gmail.com" href="http://collegeloopin.com">
        College LoopIn Team
    </author>
    <content src="index.html"/>
    <plugin name="cordova-plugin-whitelist" version="1"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <icon src="res/icon/icon.png"/>

    <icon src="res/icon/drawable-ldpi/icon.png" platform="android" density="ldpi"/>
    <icon src="res/icon/drawable-mdpi/icon.png" platform="android" density="mdpi"/>
    <icon src="res/icon/drawable-hdpi/icon.png" platform="android" density="hdpi"/>
    <icon src="res/icon/drawable-xhdpi/icon.png" platform="android" density="xhdpi"/>

    <platform name="ios">
        <!-- Downloaded from http://iconifier.net/index.php?iconified=20160110034208_Icon.png -->
        <icon src="res/icon/ios/apple-touch-icon-180x180.png" width="180" height="180"/>
        <icon src="res/icon/ios/apple-touch-icon-120x120.png" width="120" height="120"/>
        <icon src="res/icon/ios/apple-touch-icon-76x76.png" width="76" height="76"/>
        <icon src="res/icon/ios/apple-touch-icon-152x152.png" width="152" height="152"/>
        <icon src="res/icon/ios/apple-touch-icon-57x57.png" width="57" height="57"/>
        <icon src="res/icon/ios/apple-touch-icon-114x114.png" width="114" height="114"/>
        <icon src="res/icon/ios/apple-touch-icon-72x72.png" width="72" height="72"/>
        <icon src="res/icon/ios/apple-touch-icon-144x144.png" width="144" height="144"/>
    </platform>

    <platform name="android">
        <splash src="res/screen/android/screen-default.png"/>
    </platform>

    <platform name="ios">
        <!-- downloaded from ticons.fokkezb.nl / -->
        <splash src="res/screen/ios/Default.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h@2x.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-Portrait-736h@3x.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/Default-Landscape-736h@3x.png" width="2208" height="1242"/>
    </platform>

    <platform name="windows">
        <splash src="res/screen/android/screen-default.png"/>
    </platform>

    <preference name="FadeSplashScreen" value="false"/>
    <preference name="FadeSplashScreenDuration" value="1000"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="4000"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="AutoHideSplashScreen" value="true"/>
</widget>
