<ons-page on-device-backbutton="menu.setMainPage('feed-categories.html', {closeMenu: true})">
    <ons-toolbar>

            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">About</div>
    </ons-toolbar>

    <section style="padding:10px;">
        Sensation Feed 1.1.0.<br/>
        Get Feeds with the Google Feed API.
    </section>

    <ons-row>
        <ons-col align="center">
            <ons-button modifier="light" ng-click="menu.toggleMenu()">
                Toggle Menu
            </ons-button>
        </ons-col>
    </ons-row>

</ons-page>