<!-- this view as hidden in the previous view categories view -->
        <ons-toolbar fixed-style id="toolbar" >
        <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
        </ons-toolbar-button>
        </div>
        <div class="center">College Feed</div>
        </ons-toolbar>
<div id="category-page" >
        <div class="profile-card">

            <ons-icon icon="rss" class="profile-logo"></ons-icon>
            <div class="profile-name">College Feed</div>
            <div class="profile-id">@AppsHybrid</div>
            <div class="profile-desc">Get college Feeds on your phone.</div>

        </div>
        
        <ons-list-header>Select item below</ons-list-header>
        
        <ons-list ng-controller="FeedPluginCategoriesController">
            <ons-list-item modifier="chevron" class="item" ng-repeat="category in categories" ng-click="showDetail($index)">
                <ons-row>
                    
                    <ons-col width="60px"> 
                    <div class="item-thum"><ons-icon icon="{{category.icon}}"></ons-icon></div>
                    </ons-col>
                    
                    <ons-col>
                    <header>
                    <span class="item-title">{{category.title}}</span>
                    </header>
                    <p class="item-desc">{{category.description}}</p>
                    </ons-col>
                    
                </ons-row>                          
            </ons-list-item>
        </ons-list>
        </div>