<!-- feed categories are at the bottom of the page -->
<ons-navigator>
    <ons-page>


        <!-- login view close -->

        <!-- register view start -->

        <div class="container-fluid" id="loginPage" style="display: none">
            <div class="container-fluid">
                <div class="col-md-6 " style="padding: 0">
                    <div class="panel panel-login">
                        <center style="color: blueviolet;"><strong>A Crowd sourced college community information platform
                        </strong></center>
                        <div class="panel-heading">
                            <div class="container-fluid">
                                <div class="col-xs-6">
                                    <a href="#" class="active" id="login-form-link">Login</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#" id="register-form-link">Register</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="col-lg-12">
                                    <form id="loginForm" role="form" ng-controller="loginController"
                                          ngstyle="display: block;">
                                        <div class="form-group has-success">
                                            <input class="form-control" type="text" name="email" id="email"
                                                   placeholder="Email *"/></div>
                                        <div class="form-group">
                                            <input class="form-control has-success" type="password" name="password" id="password"
                                                   tabindex="2" placeholder="Password *"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="container-fluid" style="width : 100%">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="login-submit" id="login-submit"
                                                           tabindex="4"
                                                           class="form-control btn btn-login" value="Log In"
                                                           ng-click="userLogin()">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                             <div class="container-fluid">
                                                 <div class="col-lg-12">
                                                     <div class="text-center">
                                                         <a href="http://phpoll.com/recover" tabindex="5"
                                                            class="forgot-password">Forgot Password?</a>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>-->
                                    </form>
                                    <form role="form" id="registerForm" ng-controller="registerController"
                                          style="display: none;">
                                        <div class="form-group has-success">
                                            <input class="form-control" type="text" name="register_name"
                                                   id="register_name" value="" tabindex="1"
                                                   placeholder="Username *"/>
                                        </div>
                                        <div class="form-group has-success">
                                            <input class="form-control" type="text" name="register_email" tabindex="1"
                                                   id="register_email" value="" placeholder="Email Address *"/>
                                        </div>
                                        <div class="form-group has-success">
                                            <input class="form-control" type="password" name="register_password"
                                                   id="register_password" value="" tabindex="2"
                                                   placeholder="Password *"/>
                                        </div>
                                        <div class="form-group has-success">
                                            <input class="form-control" type="password" name="register_confirmPassword"
                                                   tabindex="2" id="register_confirmPassword" value=""
                                                   placeholder="Confirm Password *"/>
                                        </div>
                                        <div class="form-group has-success">
                                            <input class="form-control" type="text" name="register_college"
                                                   id="register_college" tabindex="1" placeholder="College *"/>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="register_roll"
                                                   id="register_roll" value="" tabindex="1"
                                                   placeholder="Roll No."/>
                                        </div>
                                        <!-- <div class="form-group">
                                            <input class="form-control" type="text" name="register_categories"
                                                   id="register_categories" tabindex="1" value=""
                                                   placeholder="Categories"/>
                                        </div> -->
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="register_contactNumber"
                                                   tabindex="1" id="register_contactNumber" value=""
                                                   placeholder="Contact Number"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="container-fluid" style="width: 100%">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="register-submit" id="register-submit"
                                                           tabindex="4"
                                                           class="form-control btn btn-register" value="Register Now"
                                                           ng-click="userRegister();">
                                                           <small>By clicking 'Register Now' you agree to <a onclick="window.open('https://docs.google.com/document/d/1bQFKoJXzdSP6Kt6f1g8r8tVxs7LrT_IOL1fMKmf0wq0/edit?usp=sharing', '_blank');">Terms and Conditions</a> </small>
                                                </div>

                                            </div>
                                        </div>
                                        <center><small>Information filled is editable on request to collegeloopin@gmail.com. An earnest request to fill correct information.</small></center>
                                    </form>

                                </div>
                                <center><small>For any queries mail to collegeloopin@gmail.com</small></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- register view end -->

        <ons-toolbar fixed-style id="toolbar" style="display:none;">
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">CollegeLoopIn</div>
        </ons-toolbar>


        <div id="category-page" style="display:none;">
            <div class="profile-card">

                <ons-icon icon="rss" class="profile-logo"></ons-icon>
                <div class="profile-name">CollegeLoopIn</div>
                <!-- below ang not working -->
                <div class="profile-id">@connect{{retrieveCollege("a")}}</div>
                <div class="profile-desc">Crowd sourced college community information platform</div>

            </div>

            <ons-list-header>Select item below</ons-list-header>

            <ons-list ng-controller="FeedPluginCategoriesController">
                <ons-list-item modifier="chevron" class="item" ng-repeat="category in categories"
                               ng-click="showDetail($index)">
                    <ons-row>

                        <ons-col width="60px">
                            <!-- this notification is to be shown on two pages notice page and category page -->
                            <!-- <div class="notification menu-notification">1.1.0 {{getName()}}</div> -->
                            <div class="notification menu-notification" id="#notificationNew{{category.title}}"
                                 ng-hide="newNotification == ''">{{newNotification}}
                            </div>
                            <div class="item-thum">
                                <ons-icon icon="{{category.icon}}"></ons-icon>
                            </div>
                        </ons-col>

                        <ons-col>
                            <header>
                                <span class="item-title">{{category.title}}</span>
                            </header>
                            <p class="item-desc">{{category.description}}</p>
                        </ons-col>

                    </ons-row>

                </ons-list-item>
                <!-- below function call as when migrating from menu toolbar all is hidded by default -->
                {{showHiddenPage(category.id)}}
                {{getNotificationEarlyHack()}}

            </ons-list>
        </div>
    </ons-page>
</ons-navigator>
<script type="text/javascript">

</script>