<!-- feed categories are at the bottom of the page -->
<ons-navigator>
    <ons-page>

        <!-- login view -->
        <div class="container" id="loginPage" style="display:none;">

            <div class="container-fluid" style="border: 1px groove cornflowerblue" data-role="content">

                <div data-role="header">
                    <h2>
                        <small>Sign in</small>
                    </h2>
                </div>

                <form role="form" id="loginForm" ng-controller="loginController">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Email">Email</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="email" id="email" placeholder="Email"/></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="password">Password</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="password" name="password" id="password"
                                   placeholder="Password"/></div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="userLogin()">Sign In</button>
                    </div>

                </form>

            </div>

        </div>

        <!-- login view close -->

        <!-- register view start -->

        <div class="container" id="registerPage" data-role="page" style="display:none;">

            <div data-role="header">
                <h1>Register</h1>
            </div>

            <div class="container-fluid" style="border: 1px groove cornflowerblue" data-role="content">

                <form role="form" id="registerForm" ng-controller="registerController">
                    <div data-role="fieldcontain" class="form-group">
                        <label class="control-label col-sm-2" for="register_email">Email</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="register_email" id="register_email" value=""
                                   placeholder="Email"/></div>
                    </div>

                    <div data-role="fieldcontain" class="form-group">
                        <label class="control-label col-sm-2" for="register_name">Name</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="register_name" id="register_name" value=""
                                   placeholder="Name"/></div>
                    </div>


                    <div data-role="fieldcontain" class="form-group">
                        <label class="control-label col-sm-2" for="register_roll">Roll No.</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="register_roll" id="register_roll" value=""
                                   placeholder="Roll No."/></div>
                    </div>

                    <!-- calling for college list retrieval here -->

                    <div data-role="fieldcontain" class="form-group">
                        <label class="control-label col-sm-2" for="register_college">College</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="register_college" id="register_college"
                                   
                                   placeholder="College"/></div>
                    </div>

                    <div data-role="fieldcontain" class="form-group">
                        <label class="control-label col-sm-2" for="register_categories">Categories</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="register_categories" id="register_categories"
                                   value=""
                                   placeholder="Categories"/></div>
                    </div>

                    <div data-role="fieldcontain" class="form-group">
                        <label class="control-label col-sm-2" for="register_contactNumber">Contact Number</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="register_contactNumber"
                                   id="register_contactNumber" value=""
                                   placeholder="Contact"/></div>
                    </div>

                    <div data-role="fieldcontain" class="form-group">
                        <label class="control-label col-sm-2" for="register_password">Password:</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="password" name="register_password" id="register_password"
                                   value=""
                                   placeholder="Password"/></div>
                    </div>

                    <div data-role="fieldcontain" class="form-group">
                        <label class="control-label col-sm-2" for="register_confirmPassword">Confirm Password:</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="password" name="register_confirmPassword"
                                   id="register_confirmPassword" value=""
                                   placeholder="Confirm Password"/></div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" value="Register" id="register_submitButton"
                                ng-click="userRegister();">Sign Up
                        </button>
                    </div>

                </form>

            </div>
        </div>

        <!-- register view end -->

        <ons-toolbar fixed-style id="toolbar" style="display:none;">
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">College Feed</div>
        </ons-toolbar>


        <div id="category-page" style="display:none;">
            <div class="profile-card">

                <ons-icon icon="rss" class="profile-logo"></ons-icon>
                <div class="profile-name">College Feed</div>
                <div class="profile-id">@AppsHybrid</div>
                <div class="profile-desc">Get college Feeds on your phone.</div>

            </div>

            <ons-list-header>Select item below</ons-list-header>

            <ons-list ng-controller="FeedPluginCategoriesController">
                <ons-list-item modifier="chevron" class="item" ng-repeat="category in categories"
                               ng-click="showDetail($index)">
                    <ons-row>

                        <ons-col width="60px">
                            <!-- this notification is to be shown on two pages notice page and category page -->
                            <!-- <div class="notification menu-notification">1.1.0 {{getName()}}</div> -->
                            <div class="notification menu-notification" id="#notificationNew{{category.title}}" ng-hide="newNotification == ''" >{{newNotification}}</div>
                            <div class="item-thum">
                                <ons-icon icon="{{category.icon}}"></ons-icon>
                            </div>
                        </ons-col>

                        <ons-col>
                            <header>
                                <span class="item-title">{{category.title}}</span>
                            </header>
                            <p class="item-desc">{{category.description}}</p>
                        </ons-col>

                    </ons-row>

                </ons-list-item>
                <!-- below function call as when migrating from menu toolbar all is hidded by default -->
                {{showHiddenPage(category.id)}}

            </ons-list>
        </div>
    </ons-page>
</ons-navigator>
<script type="text/javascript">

</script>