<ons-navigator>
<ons-page ng-controller="profileController" on-device-backbutton="menu.setMainPage('feed-categories.html', {closeMenu: true})">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Profile</div>
    </ons-toolbar>
    

    
    <section style="padding: 10px;">

        <h2 class="title" ng-bind-html="name"></h2>

        

        about me :<p class="feed-content" ng-bind-html="aboutMe"></p>
        about me :<p class="feed-content" ng-bind-html="email"></p>

        <!-- <p class="feed-categories" ng-show="{{item.categories.length}}"><ons-icon icon="tags"></ons-icon>
        <span ng-repeat="category in item.categories">{{category}}{{$last ? '' : ', '}}</span>
        </p> -->

        <p class="feed-categories">
            <ons-icon icon="tags"></ons-icon>
            <span ng-bind-html="item.postedByName"></span>
            <span ng-bind-html="item.postedByRoll"></span>
        </p>

        <!-- <ons-button modifier="outline" class="button-share" ng-click="shareFeed()">
        <ons-icon icon="share-alt"></ons-icon> Share this feed
        </ons-button> -->

        <!-- Open the post using the InAppBrowser plugin (org.apache.cordova.inappbrowser) -->
        <ons-button modifier="large" ng-show="fbUrl != ''" ng-click="loadURL(fbUrl)">
            Profile on facebook
        </ons-button>
        <br>
        <ons-button modifier="large" ng-show=" twitterUrl != 'undefined'" ng-click="loadURL(twitterUrl)">
            Profile on twitter
        </ons-button>
        <ons-button modifier="large" ng-show=" linkedinUrl != 'undefined'" ng-click="loadURL(linkedinUrl)">
            Profile on linkedin
        </ons-button>
        <br>
        <ons-button modifier="small"  ng-click="editProfile()">
            Edit
        </ons-button>

    </section>

</ons-page>
</ons-navigator>